@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box; 
  font-family: 'Inter', sans-serif;
  font-size: 18pt;
  font-weight: bold;
  color: rgb(0,0,0,0.529);
  
}

#portfolio-pic{
  vertical-align: middle;
  width: 400px;
  height: 100%;
 
  
}
.portfolio-image-name{
  display: flex;
  flex-direction: row;
}
.portfolio-name{
  
  height: 50px;
  display: flex;
 
  padding-top: 10px;
}
.nome{
  font-size: 33px;
  font-weight: 900;
  width: 300px;
  padding-left: 12px;
}
.subnome{
  height: 10px;
  padding-top: 0px;
  padding-left: 12px;
margin-top: 100px;
}

#header {

  top: 0;
  left: 0;
  width: 120px;
  height:100%;
  position:fixed;
  background-color:transparent;
  transition:150ms;
  
}




.header-icon{
  margin: 0;
  min-width: 30px;
  min-height: 30px;
  
}
ul {
  list-style-type: none;
  
}
.header-list-div {
  margin-top: 80px;
  margin-left: 10px;
  margin-right: 20px;
}
.header-options-text {
  margin-top: 15px;
  text-align:left;
  align-items: center;
  width: 25;
  height: 10;
  
}
.headericon-row{
  padding-left: 20px;
  display: flex;
  flex-direction: row;
}
.header-options-text span{
  font-weight: 600;
  font-size: 20px;
  color:transparent;
  padding: 3px 15px 11px 10px;
}
.header-li{
  white-space: nowrap;
  transition: 0.6s;
  border-radius: 5px;
  margin-left: 13px;
  padding-top: 10px;

}
.header-li span{
width: 100%;
}

.header-li:hover{
  background-color: #0f3953;
}
.header-li:hover span,.header-li:hover .header-icon{
  color: #e9f3f3;
}

a {
 color: black;
  text-decoration: none;
  text-decoration-style:none;
  margin: 0;
  
}
.app-p-box{
 margin-bottom: 200px;
width: 70%;

}
.app-p{
  font-weight: 600;
  font-style: italic;
  font-size: 27px;
  margin-bottom: 50px;
color:#16527a;
}
.app-p2{
  margin-bottom: 25px;
  font-weight:900;
font-size: 80px;
color: rgb(124, 124, 124);

}
.app-p3{
  font-weight: 600;
color: #858585;
}


.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #FAFAF0;
  }

.App-link {
  color: #61dafb;
}
.app-column{
  display: flex;
  flex-direction: column;
  background-color: #FAFAF0;
}

.app-mainh1{
 text-align: left;
 font-size: 50px;
  margin-bottom: 50px;
  pointer-events: none;
 
}
.app-mainh1certificado{
  text-align: left;
  font-size: 50px;
   margin-bottom: 50px;
   pointer-events: none;
   margin-left: 40%;
 }
.app-aboutme-description{
  font-weight: bold;
  vertical-align: top;
  position: relative;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
 text-align: left;
  width: 100%;
  background: rgb(250,237,205);
  background: linear-gradient(90deg, rgba(250,237,205,1) 0%, rgba(250,250,240,1) 100%);
}

.app-aboutme-description div{
  height: 80vh;

display: flex;
flex-direction: column;
justify-content:center;
}
.imagediv{
  display: inline-block;
  max-width: 200%;
  overflow: hidden;
  vertical-align: top;
  width: 200%;
}
.imagediv img {
  border-radius: 0 !important;
  max-width: 200%;
  vertical-align: top;
  height: 120%;
}
.app-aboutme {
  display: flex;
  justify-content: center;
  flex-direction:row;
  margin:inherit;
  
}



.app-aboutme-description p {
margin: 15px;
}
.app-tec-descri2{
margin-left: 10%;
margin-top: 10%;

  font-weight: bold;
  vertical-align: top;
  position: relative;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
 
  width: 100%;
  height: 80vh;
  background: transparent;
  
}
.app-tec-description{
 margin-right: 15%;
 margin-top: 10%;
 ;
 padding-bottom: 13%;
  font-weight: bold;
  vertical-align: top;
  position: relative;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items:center;
 justify-content:space-between;
  width: 100%;
  height: 80vh;
  background: transparent;
  
}

.app-tec-description div h3{
padding-top: 7px;
padding-left: 5px;
padding-right: 10px;
  color:rgba(0,0,0,0.529);
}
.app-tec-description div{
  display: flex;
}

.app-tec-description svg{
  
  min-width:40px;
  min-height: 40px;
  max-width: 40px;
}
.app-tec-description img{
  width: 60px;
  height: 60px;
}
.imageparent{
  width: 500px;
}

#certificateimg{
 padding: 15px;
 display: block;
  width: 100%;
  height: auto;
}

.app-certificate-description{
  color: #e9f3f3;
width: 100%;
height:inherit;
  display: flex;
  
  background: rgb(250,237,205);
background: linear-gradient(90deg, rgba(250,237,205,1) 0%, rgba(250,250,240,1) 100%);
}
.app-certificate-p{
  padding-top: 15px;
  padding-bottom: 15px;
}


.apresentation-projects{
  vertical-align: top;
    position: relative;
  height: inherit;

  background-color:#FAFAF0;

}


/* ///////////// apresentation card //////////   */





.a-card {

  position: relative;

  
  height: 250px;
  color: #2e2d31;
  background: #131313;
  overflow: hidden;
  
}

.temporary_text {
  font-weight: bold;
  font-size: 24px;
  padding: 6px 12px;
  color: #f8f8f8;
}

.a-card_title {
  font-weight: bold;
}

.a-card_content {
  position: absolute;
  left: 0;
  bottom: 0;
    /* edit the width to fit card */
  width: 100%;
  padding: 20px;
  background: #f2f2f2;
  border-top-left-radius: 20px;
    /* edit here to change the height of the content box */
  transform: translateY(150px);
  transition: transform .25s;
}

.a-card_content::before {
  content: '';
  position: absolute;
  top: -47px;
  right: -45px;
  width: 100px;
  height: 100px;
  transform: rotate(-175deg);
  border-radius: 50%;
  box-shadow: inset 48px 48px #f2f2f2;
}

.a-card_title {
  color: #131313;
  line-height: 15px;
}

.a-card_subtitle {
  display: block;
  font-size: 12px;
  margin-bottom: 10px;
}

.a-card_description {
  font-size: 14px;
  opacity: 0;
  transition: opacity .5s;
}

.a-card:hover .a-card_content {
  transform: translateY(0);
}

.a-card:hover .a-card_description {
  opacity: 1;
  transition-delay: .25s;
}
