@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Inter', sans-serif;
  font-size: 16pt;
  font-weight: bold;
  color: rgb(0,0,0,0.529);
  
}

.appParent{
  width: 100%;
  min-width: 1000px;
}
/*/////// language button //////////*/
.languageButton{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #fafaf0;
  font-family: "Montserrat", sans-serif;
  box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border: none;
 }
 
 .languageButtonPT:after {
  content: " ";
  width: 0%;
  height: 100%;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/0/01/Brazil_flag_300.png");
  background-color: #009c3b;
  background-size:100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  transition: all 0.1s ease-in-out;
  right: 0;
 }
 .languageButtonEN:after {
  content: " ";
  width: 0%;
  height: 100%;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/d/d8/Flag_of_the_USA.png");
  background-color:#b22134;
  background-size:100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  transition: all 0.1s ease-in-out;
  right: 0;
 }
 
 .languageButton:hover::after {
  right: auto;
  left: 0;
  width: 100%;
 }
 
 .languageButton span {
  text-align: center;
  text-decoration: none;
  width: 100%;
  padding: 8px 10px;
  color: #3f3e3e;
  font-size: 1.125em;
  font-weight: 700;
  letter-spacing: 0.3em;
  z-index: 20;
  transition: all 0.3s ease-in-out;
 }
 
 .languageButton:hover span {
  color: transparent;
  animation: scaleUp 0.3s ease-in-out;
 }
 
 @keyframes scaleUp {
  0% {
   transform: scale(1);
  }
 
  50% {
   transform: scale(0.95);
  }
 
  100% {
   transform: scale(1);
  }
 }
/* end button language */

#portfolio-pic{
  vertical-align: middle;
  width: 400px;
  height: 100%;
}
.portfolio-image-name{
  display: flex;
  flex-direction: row;
}
.portfolio-name{
max-width: 15em;
 margin-left: 0.5em;
  padding-top: 10px;
}
.nome{
  font-size: 33px;
  font-weight: 900;
  
  
}
.subnome{
  height: 10px;
margin-top: 1em;
}

#header {

  top: 0;
  left: 0;
  width: 120px;
  height:100%;
  position:fixed;
  background-color:transparent;
  transition:150ms;
  
}




.header-icon{
  margin: 0;
  min-width: 30px;
  min-height: 30px;
  
}
ul {
  list-style-type: none;
  
}
.header-list-div {
  margin-top: 80px;
  margin-left: 10px;
  margin-right: 20px;
}
.header-options-text {
  margin-top: 15px;
  text-align:left;
  align-items: center;
  width: 25;
  height: 10;
  
}
.headericon-row{
  padding-left: 20px;
  display: flex;
  flex-direction: row;
}
.header-options-text span{
  font-weight: 600;
  font-size: 20px;
  color:transparent;
  padding: 3px 15px 11px 10px;
}
.header-li{
  white-space: nowrap;
  transition: 0.6s;
  border-radius: 5px;
  margin-left: 13px;
  padding-top: 10px;

}
.header-li span{
width: 100%;
}

.header-li:hover{
  background-color: #0f3953;
}
.header-li:hover span,.header-li:hover .header-icon{
  color: #e9f3f3;
}

a {
 color: black;
  text-decoration: none;
  text-decoration-style:none;
  margin: 0;
  
}
.app-p-box{
  
 
width: 70%;
}
.app-p{
  font-weight: 600;
  font-style: italic;
  font-size: 27px;
  margin-bottom: 50px;
color:#16527a;
}
.app-p2{
  margin-bottom: 25px;
  font-weight:900;
font-size: 80px;
color: rgb(124, 124, 124);

}


.app-p3{
  font-weight: 600;
color: #858585;

}


.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-around;
  background-color: #FAFAF0;
  }

.App-link {
  color: #61dafb;
}
.app-column{
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #FAFAF0;
}

.app-mainh1{
  
 
 font-size: 50px;
  margin-bottom: 50px;
  pointer-events: none;
 
}

.app-mainh1certificado{
  text-align: left;
  font-size: 50px;
   margin-bottom: 50px;
   pointer-events: none;
   margin-left: 40%;
 }
.app-aboutme-description{
  width: 100%;
  font-weight: bold;
  vertical-align: top;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
 text-align: left;
  background: rgb(250,237,205);
  background: linear-gradient(90deg, rgba(250,237,205,1) 0%, rgba(250,250,240,1) 100%);
}

.app-aboutme-description-text{
  text-align: center;
  min-height: 25rem;
width: 50%;
display: flex;
flex-direction: column;
justify-content:center;
}
.imagediv{
  vertical-align: top;
  min-height: 25em;
  width: 50%;
  overflow: hidden;
}
.imagediv img {
  border-radius: 0 !important;
  vertical-align: top;
}
.app-aboutme {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction:row;

}


.app-certificates {
  width: 100%;
  display: flex;
  flex-direction:column;
  align-content: center;
  
}



.app-aboutme-description p {
margin: 15px;
}
.app-tec-descri2{
margin-top: 10%;
  font-weight: bold;
  vertical-align: top;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items:flex-start;

  background: transparent;
}
@media (max-width:980px){
  .app-aboutme {
    flex-direction:column;
    align-items: center;
  }
  .portfolio-image-name{
    flex-direction: column;
    align-items: center;
  }
  .app-tec-descri2{
    width: 50%;
  }
}
.app-tec-description{
 margin-top: 10%;
 padding-bottom: 13%;
  font-weight: bold;
  vertical-align: top;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items:center;
 justify-content:space-between;
  width: 30%;
  height: 50vh;
  background: transparent;
  
}

.app-tec-description div h3{
padding-top: 7px;
padding-left: 5px;
padding-right: 10px;
  color:rgba(0,0,0,0.529);
}
.app-tec-description div{
  display: flex;
}

.app-tec-description svg{
  
  min-width:40px;
  min-height: 40px;
  max-width: 40px;
}
.app-tec-description img{
  width: 60px;
  height: 60px;
}

.certificateimg{
 padding: 15px;
 max-width: 40%;
 min-width: 30%;
 aspect-ratio: 16 / 11;
}

.app-certificate-description{
  flex-direction: row;
  color: #e9f3f3;
max-height: 600px;
  display: flex;
  justify-content:flex-start;
  background: rgb(250,237,205);
background: linear-gradient(90deg, rgba(250,237,205,1) 0%, rgba(250,250,240,1) 100%);
}
.app-certificate-p{
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-left: 5%;
 width:30%;
 height: 60%;
}


.app-certificate-p h2 {
  margin-top: 70px;
 font-weight: 900;
 color: #313131;
}
.app-certificate-p p {
  margin-top: 50px;
  
}




/* ///////////// apresentation card //////////   */
.apresentation-projects{
  max-width: 100%;
  vertical-align: top;
    position: relative;
  height: inherit;
  background-color:#FAFAF0;
}


#buttons01 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#buttons01 a {
  width: 100px;
  height: 70px;
  
}
.label{
  font-size: 12px;
  letter-spacing: 0.2rem;
  line-height: 2.75rem;
}
.apresentation-imageparent{
  width: 50%;
  padding-right: 20px;
  padding-left: 20px;
}
.apresentation-image{
  height: 100%;
  width: 100%;
  min-width: 20em;
}

.app-apresentation-description{
  background-color:#FAFAF0;
  display: flex;
  text-align: center;
  padding-top:5em;
}
@media (max-width:1000px){
  .app-apresentation-description{
    flex-direction: column;
  }
} 
.corpo-apresentation{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
}
.apresentation-title-and-corpo{
  display: flex;
flex-direction: column;
width: 70%;
}
.apresentation-title{
font-weight: 900;
color: #000000;
}

.apresentation-corpo{
  min-width: 400px;
  margin-top: 5%;
  font-size: 0.9em;
}



/*//////////   Botao   //////////// */ 

.buttons.style2 .button {
  color: #000000;
  border: solid 3px rgba(0,0,0,0.2);
}
.buttons.style2 li {
  margin-right: 50px;
  margin-left: 5%;
}

.buttons.style2 li a {
  margin-top: 10%;
  display: inline-flex;
  width: auto;
  height: 3.75rem;
  line-height: 3.75rem;
  padding: 0 1.875rem;
  vertical-align: middle;
  text-transform: uppercase;
  font-family: 'Inter', sans-serif;
  letter-spacing: 0.4rem;
  padding-left: calc(0.4rem + 1.875rem);
  font-size: 0.75em;
  font-weight: 400;
  border-radius: 2.5rem;
  flex-direction: row-reverse;
  transition: transform 0.25s ease, color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
}
.buttons.style2 .button:hover {
  border-color: #9DABA9 !important;
  color: #9DABA9 !important;
}
.buttons.style2 .button:hover svg {
  fill: #9DABA9 !important;
}.buttons.style2 li a:hover {
  transform: scale(1.0425);
}
.buttons.style2 li a svg {
  display: block;
  fill: #c9d1d0;
  flex-grow: 0;
  flex-shrink: 0;
  height: 95%;
  min-width: 18px;
  width: 1.09375em;
  margin-left: 0.3em;
  margin-right: calc(-0.525em + 0.1rem);
  transition: fill 0.25s ease;}



  /*///////// ANIMATION AREA ////////*/


  @keyframes onvisibleSlideRight {
    from {
      transform: translateX(-0.9vw);
    }to {
        transform: translateX(0);
    }}
  
  @keyframes onvisibleShow {
     0% {
       opacity:0;
   
     }100% {
       opacity:1;
     }}

   


    .onvisibleSlideRight{
      animation:onvisibleSlideRight 1.5s ease-in,
      onvisibleShow 1.5s ease ;
    }

    @keyframes onvisibleSlideUp {
      from {
        transform: translateY(0.5vw);
      }to {
          transform: translateY(0);
      }}

    .onvisibleSlideUp {animation:onvisibleSlideUp 1.5s ease-in,onvisibleShow 1.5s  ease ;}
    .onvisibleShow{animation:onvisibleShow 1.5s ease ;}

    @keyframes onvisibleSlideDown {
      from {
        transform: translateY(-0.5vw);
      }to {
          transform: translateY(0);
      }}

      .onvisibleSlideDown {animation:onvisibleSlideDown 1.5s ease-in,onvisibleShow 1.5s  ease ;}

@keyframes onVisibleSize {
  from {
    opacity: 0
  }to {
      opacity: 1
  }
}
.onVisibleSize {animation:onVisibleSize 1.5s ease-in,onvisibleShow 1.5s ease ;}
.invisible{opacity: 0;}